@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-seRrif;
}

body {
    background-color: #000;
    background: linear-gradient(to left, #ff1313, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #FAF9F6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100%;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #ff1313;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.form-in {
    background-color: #FAF9F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    height: 100%;
}

.form-up{
  
    background-color: #FAF9F6;
    display: grid;
   grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    height: 70%;
    gap: 10px;
    
}
.form-up h1 {
 grid-column: span 2;  
 margin:0; 
 text-align: center;
}

.form-up button{
    grid-column: 1 / span 2;
    width: 50%;
    justify-self: center;
 }


.container input ,select {
    
    background-color: #eee;
    border: 2px solid transparent ;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    outline: none;

}
.container input:focus{
    border: 2px solid #ff1313;
}




.form-container {
    top: 50%;
    position: absolute;
    height: 50%;
    
    transition: all 0.6s ease-in-out;
}

.sign-in {
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateY(-90%);
    opacity: 0;
}

.sign-up {
    bottom: 0;
    width: 100%;
    
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateY(-90%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 60px 60px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateY(100%);
    border-radius: 60px 60px 0 0;
}

.toggle {
    background-color: #000;
    
    color: #fff;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateY(0);
}

.toggle-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transition: all 0.6s ease-in-out;
    background-size: cover;
    background-position: center ; 
    background-repeat: no-repeat;
}
.toggle-panel h1 {
    font-size: 3.7rem;
}

.toggle-panel p{
    width: 45%;
}
.toggle-panel button{
 transition: all 0.7s;

}
.toggle-panel button:hover{
    background-color: #ff1313;
}
.toggle-left {
    transform: translateY(-200%);
    background-image: url('../images/gallery/h1_hero2.png'); /* Ensure the path is correct */

}

.container.active .toggle-left {
    transform: translateY(0);
}

.toggle-right {
    height: 100%;
    background-image: url('../images/gallery/h1_hero.png'); /* Ensure the path is correct */

    transform: translateY(0);
}

.container.active .toggle-right {
    transform: translateY(-200%);
}
