body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.opp{
   
    background-color: rgb(254, 160, 10);

}
button{
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    height: 60px;
    width: 60px;
    border: none;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}
.js-text{
    font-size: 20px;
    margin-left: 10px;
    color: black;
}