<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="calc.css">
</head>
<body>
    <p class="js-text"></p>

    <p>
        <button onclick=" update('1')">1</button>
        <button onclick=" update('2')">2</button>
        <button onclick=" update('3')">3</button>
        <button class="opp" onclick=" update('+')">+</button>

    </p>
    <p>
        <button onclick=" update('4')">4</button>
        <button onclick=" update('5')">5</button>
        <button onclick=" update('6')">6</button>
        <button class="opp" onclick=" update('-')">-</button>

    </p>
    <p>
        <button onclick=" update('7')">7</button>
        <button onclick=" update('8')">8</button>
        <button onclick=" update('9')">9</button>
        <button class="opp" onclick=" update('*')">*</button>


    </p>
    <p>
        <button onclick=" update('0')">0</button>
        <button onclick=" update('.')">.</button>
        
        <button onclick="
        calculation=eval(calculation);
        print();
        localStorage.setItem('calculation',calculation);
        " >=</button>
        <button class="opp" onclick=" update('/')">/</button>



    </p>
    <button onclick="
    calculation='';
    print();
    localStorage.removeItem('calculation');
    ">clear</button>
    


    <script src="calc.js"></script>
</body>
</html>