*{
    font-family: "Rubik","Roboto",Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-color: rgb(0, 0, 0);
}
.box{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
   

}
@media screen and (max-width: 800px) {
    .box {
      flex-direction: column;
    }
  }
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image{
    height: 130px;
    width: 130px;
    border-radius: 70px;
    margin-bottom: 8px;
    margin-left: 60px;
   
   

}
.edit{
    margin-left: 60px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.button-container{
    margin-left: 60px;
    

   
}
.edit-icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.button-a,.button-b,.button-c{
    cursor: pointer;
   
    background-color: #b91b1b;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.button-a:hover{
    
    background-color:#da0a0a;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.button-a:active{
    
    background-color:#e90e0e;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.info-section{
    margin-left: 60px;
    flex: 1;
    
}
.myprofile{
    font-size: 30px;
}
p {
    color: rgb(150, 150, 150);
    
}
input{
    background-color:rgb(211, 196, 196) ;
    border: 2px solid transparent;
    padding: 6px;
}
.texting{
    margin-bottom: 4px;
    font-size: 12px;
}
.info{
    display: inline-block;
}
input{
    margin-right: 8px;
    border-radius: 6px;
    outline: none;
    
   
}
input:focus, input:active{

    border-color: #b91b1b;
    border-width: 2px;
    border-style: solid;
    color: black;
    
}
.input-mail{
    width: 300px;
}
.cancel{
    position: relative;
    left: 0;
    right: 0;
}
.button-b,.button-c{
    margin-top: 60px;
    margin-right:40px ;
    width: 200px;
    border-radius: 15px;
}
.button-b:hover,.button-c:hover{
    margin-top: 60px;
    margin-right:40px ;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #da0a0a;
    border: none;
    padding: 8px;
    font-weight: bold;

}

.biography{
    width: 300px;
    height: 200px;
    


}
input::placeholder{

    color: black;
}
.biography::placeholder{
    position: absolute;
   top: 0;
   



}

.humicon{

    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin-left: 60px;
}
.logo{

    height: 400px;
    width: 400px;
}

.logout{
    font-size: 12px;
    padding: 8px;
    width: 60px;
    border-radius: 4px;
    background-color: #b91b1b;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
    

.deleteacc{
    font-size: 12px;
    padding: 1px;
    border-radius: 4px;
    width:60px;
    background-color: #b91b1b;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.logout:hover{
    font-size: 12px;
    padding: 8px;
    width: 60px;
    border-radius: 4px;
    background-color: #da0a0a;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.deleteacc:hover{
    font-size: 12px;
    padding: 1px;
    width: 60px;
    border-radius: 4px;
    background-color: #da0a0a;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
