<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs - Gym Website</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/animate.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="descreption.css">
</head>


<body class="p-0">

    <div class="program-descreption container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 mt-5 mb-5">
                <h3 class="program-name text-light text-center fw-bold">Big and Strong: 8 Week Advanced Strength
                    Building Workout</h3>
            </div>
            <div class="col-12 ">
                <img class="img-fluid descreption-image rounded mx-auto d-block" src="images/gallery/strength.jpg"
                    alt="">
            </div>

            <div class="col-8 mt-3 ">
                <div class="row justify-content-center">
                    <div class="col-11 motivation mb-5 mt-5 p-3 ">
                        <p class="text-center text-light fw-600">Unlock unmatched strength with this 5-day
                            strength-building workout. This plan incorporates power, speed, and explosive movements to
                            help you move serious weight in 8 weeks</p>
                    </div>
                    <div class="col-12 workout-summary">
                        <table class="table caption-top">
                            <caption class="caption fw-bold ">Workout Summary:</caption>

                            <tbody>
                                <tr class="table-row">
                                    <td id="col1">Main Goal</td>
                                    <td>
                                        Increase Strength</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Workout Type</td>
                                    <td>Thornton</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Training Level</td>
                                    <td>the Bird</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Program Duration</td>
                                    <td>the Bird</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Days Per Week</td>
                                    <td>the Bird</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Equipment Required</td>
                                    <td>the Bird</td>
                                </tr>
                                <tr class="table-row">
                                    <td id="col1">Target Gender</td>
                                    <td>Recommended Supps</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>


                    <div class="col-12 mt-5 text">
                        <div class="row ">
                            <div class="col-12 ">
                                <h3 class="fw-bold ">Workout Descreption :</h3>
                            </div>
                            <div class="col-12">
                                <p class="text-light">The beginner gains people see when they first start training are always enjoyable. It
                                    makes us want to do more, lift more, and feel even more powerful. The downside is
                                    that eventually, the gains may stall and what previously worked may not be as
                                    effective.

                                    When these “plateaus” arrive, stop doing what the rookies do and try something
                                    different.

                                    Before we proceed, a word of advice. This program is likely a change from what
                                    you’re used to as it focuses primarily on lifting heavy.

                                    If you’re concerned about shape and getting shredded, this is not the program for
                                    you. If you want to move some serious weight in eight weeks that you don’t think you
                                    can move today, keep reading.</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-12 mt-4 text" >
                        <div class="row">
                            <div class="col-12">
                                <h3 class="fw-bold ">Nutrition and Recovery Matter :</h3>
                            </div>
                            <div class="col-12"><p class="text-light ">The workouts will be key to getting stronger, but this is no time to
                                slack on the diet. The
                                food you eat matters even more now because you are trying to make your body do something
                                it
                                can’t do now. So, 1 gram of protein per pound of body weight per day, 1.5-2 grams of
                                carbs
                                per pound, and .5 grams of fats are what I would suggest. You can slightly alter those
                                numbers based on your experience, but it should be close to those numbers. Also, 1
                                gallon of
                                water per day.

                                As for recovery, sleep is the biggest one so get a lot of it. You could also do
                                massages,
                                cold plunges, stretching, and chiropractor work. They aren’t all necessary but will help
                                and
                                will positively influence your success in this program. </p>
                            </div>
                        </div>

                     
                        


                    </div>
                    <div class="col-12"></div>
                </div>
            </div>


        </div>
    </div>



    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="node_modules/bootstrap/dist/js/wow.min.js"></script>
</body>


</html>