@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    box-sizing: border-box;
    
}

body{
    background-color: #000;
    
}



/*containers*/
.program-descreption{
    height: 100vh;
   
}

.program-name{
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
}
.motivation{
    font-size: 1.2rem;
    border-left: 5px solid #ff1313;
    font-family:  'Rubik',sans-serif; 

}

.workout-summary{
    border-top: 7px outset #ff1313;
    background-color: #cdc8c8;
    border-radius: 5px;
}


.table td {
    background-color: #cdc8c8;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px 10px;
    font-family: 'Rubik',sans-serif; 
   

}
.table{
    font-family: 'Rubik',sans-serif ;
}

.table thead tr th{
  background-color: #ff1313;
  font-weight: bold;
  font-size: 1.2rem;
  
}

.table tbody tr td {
    background-color: #cdc8c8;
    font-size: 1.2rem;
    font-weight: 400;
}

.image{
    width: 100%;
    height: auto;
}
/*typographay*/
.caption{
    font-size: 1.5rem;
    color: #000;
    font-family: 'Oswald',sans-serif;
}
#col1{
    font-weight: 700;
    
    }
    
    .text h3{
        color: #ff1313;
        font-size: 2.5rem;
        font-family: 'Oswald',sans-serif;
    }
.text p{
    font-family: "Rubik",sans-serif;
    word-spacing: 2px;
}

td[scope="row"]{
    color:rgb(169, 24, 46);

}