<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about us</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="about_us.css" type="text/css">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header2">
        <div class="logo-name">
            <img id='logo' src="/assets/logo/logo.png" alt="">
            <p class="text-light GYMMATCH">GYM MATCH</p>
        </div>
       

        <nav class="links">
            <a href="/components/dounia/gym-match/home/index.html" class="active">Home</a>
            <a href="/components/rayane/about_us.html">About us</a>
            <a href="/components/rayane/explore.html">Explore</a>
            <a href="/components/dhiaa/html/programs.html">Programs</a>
            <a href="/components/dounia/gym-match/store/store.html">Store</a>

            <div class="dropdown">
                <button id="profile-btn" class="profile-btn">
                    <img src="/assets/images/profile.png" alt="Profile" />
                </button>
                <div class="dropdown-content">
                    <a href="login.html">Sign In</a>
                    <a href="#signout">Sign Out</a>
                </div>
                
            </div>

            
        </nav>

        <button id="menu-btn"><img src="../icons/icons8-menu.svg" alt=""></button>

    </header>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="img/about-bread.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
<!-- Aboutus Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="aboutus-page-text">
            <div class="row">
                <div class="col-xl-9 col-lg-10 m-auto">
                    <div class="section-title">
                        <h2>WHO WE ARE AND WHAT WE DO </h2>
                        <p>Welcome to GYMMATCH, where fitness meets innovation! We connect individuals with gyms tailored to their unique preferences and fitness goals through a user-friendly search tool. For gym owners and trainers, we provide a free way to attract more clients and grow their businesses. Additionally, our online store offers a wide range of high-quality supplements and fitness products, ensuring everyone has access to the tools they need for their wellness journey. Join us as we redefine the fitness experience!</p>
                    </div>
                </div>
            </div>
            <img src="img/about-us.jpg" alt="" class="img-fluid mx-auto d-block">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="about-us">
                        <h4>ABOUT US</h4>
                        <p>
                            About Us
                            Welcome to GYMMATCH, the dream of every gymer and we are here to make it reality ! We’re a passionate team of fitness lovers and industry pros on a mission to make your workout journey as exciting and personalized as possible. Tired of the endless gym search? Our platform is your go-to for discovering gyms that fit your vibe and goals</p>
                        <p>But we don’t stop there—gym owners and trainers, we’ve got your back too! Our innovative tools will help you attract more clients and boost your business, making your gym the hottest spot in town. Plus, our online store is stocked with all the must-have supplements and fitness goodies to keep you energized and motivated.

                            Join us on this adventure to elevate your fitness game and have a blast while doing it! Let’s get moving together!
                            
                            
                            
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Aboutus Section End -->
    <!-- Trainer Section Begin -->
    <section class="trainer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Meet Our Team </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="img/rayane.jpg" alt="" width="4.9rem">
                            <div class="ti-links">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Toumi Rayane      <span>-ensia 2nd year student </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="img/dhiaa.webp" alt="" width="4.9rem">
                            <div class="ti-links">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Zeroual Dhiaa <span>-ensia 2nd year student </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="img/dounia.webp" alt="" width="4.9rem">
                            <div class="ti-links">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Blaada Douniazed <span>-ensia 2nd year student </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="img/achref2.jpeg" alt="" width="4.9rem">
                            <div class="ti-links">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Bennacer Achref  <span>-ensia 2nd year student </span></h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trainer Section End -->
    <!-- Contact Section Begin -->
    <section class="contact-section p-5 spad">
        
            <div class="row justify-content-center">
                <div class="col-lg-8 offset-lg-1">
                    <div class="contact-form">
                        <h4>Get in touch</h4> 
                        <form action="#">
                            <div class="row justify-content-center" >
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="c-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
    </section>
    <!-- Contact Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/components/dhiaa/js/header.js"></script>


</body>
</html>