@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#000;
    padding: 30px 10px;
}

.card {
    max-width: 500px;
    margin: auto;
    color: white;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    box-shadow: 0 4px 30px #f13f13; /* Soft shadow for depth */

}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: #f13f13;
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #f13f13 0%, #f05959 51%, #f13f13 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: white;
    background-color: #1c1c1c;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #0d0d0d;
    border: 2px solid #f13f13;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
    color: white;
}



::placeholder {
    font-size: 14px;
    font-weight: 600;
}

/* For cross-browser compatibility */
.form-control::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: rgb(108, 105, 105);
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: rgb(199, 193, 193);
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: rgb(199, 193, 193);
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: rgb(199, 193, 193);
}
