@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    background:  #000;
    position: relative;
   
}


.programs{
    height: 100vh;
 

    
}

.programs-back{
   
    height: 100%;
    min-width: 320px;
 
  
}

.hero{
    position: relative;
    height: 470px;
}

.title{
    position: absolute;
    top: 45%;
    font-family: "Oswald" ,sans-serif;
    font-size: 5rem;
    left: 15%;
    letter-spacing: 1px;
    font-weight: bold;
}

.offer{
    margin-top: 60px;
    font-size: 7rem;
    font-family: "Oswald" ,sans-serif;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px #f6f7f8;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.title-general{
    position: absolute;
    font-family: "Oswald" ,sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: bold;
} 

.general-programs{
    margin-top:7rem;
}
.special-programs{
    margin-top: 8rem;
}
.program-name h5{
    font-family: "Oswald" ,sans-serif;
    font-weight: bold;
    font-size:2.2rem ;
    margin-bottom: 30px;
  
}
.program-icon{
    position: relative;
}
.program-icon:hover img{
    opacity: 0.3;
}
.program-icon:hover .btn{
    opacity: 1;
}

.btn-program{
    background-color: #ff1313;
    border: 0;
    position: absolute;
    top: 50%;
    left :50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.3s ease;
    font-size: 17px;
    font-family: 'Rubik',sans-serif;
    width: 181px;
    height: 45px;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-program:hover{
    background-color:rgb(169, 24, 46);
}

.training-icon{
    position: relative;
}
.training-icon p{
    font-family:"Oswald" ,sans-serif; 
    font-size: 2.8rem;
    letter-spacing: 1px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.TRAINING{
    opacity: 0.5;
}

.btn-trainer {
    border: 2px solid white;
    border-radius: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, box-shadow 0.7s linear;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    opacity: 1;
    padding: 17px 34px;
    box-shadow: 0px 0 0 #ff1313 inset; 
    /* Initial box shadow */
}
.btn-2{
    background-color: #ff1313; /* Set the initial background color */
    box-shadow: 0px 0 0 rgb(169, 24, 46) inset; 
}
.btn-2:hover {
    background-color: #ff1313; 
    box-shadow: -350px 0 0 rgb(178, 10, 35) inset; /* Hover shadow effect */
    border: 2px solid white;
}

.btn-1:hover{
    
    box-shadow: 350px 0 0 #ff1313 inset; /* Hover shadow effect */
    border: 2px solid white;

}


.special{
    font-size:1.1rem;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 1px;
}



@media only screen and (max-width:1200px){
     .hero{
        height: 380px;
     }

     html{
        font-size:14px;

     }
     
}

@media only screen and (max-width:800px){
   .hero{
    height: 300px;
   }
   html{
    font-size: 10px;
   }
}

@media only screen and (max-width:600px){
   .hero{
    height: 230px;
   }

   html{
    font-size: 7px;
   }

   .btn-trainer{
    font-size: 1.8rem;
   }
}
@media only screen and (max-width:375px){
  .hero{
    height: 180px;
  }
  html{
    font-size: 5px;
  }

}