@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    box-sizing: border-box;
    
}


body{
    background-color: #000;
    overflow-x: hidden;
    padding-top: 40px;
}



.program-name{
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
}
.motivation{
    font-size: 1.2rem;
    border-left: 5px solid #ff1313;
    font-family:  'Rubik',sans-serif; 

}

.workout-summary{
    border-top: 7px outset #ff1313;
    background-color: #cdc8c8;
    border-radius: 5px;
}


.table td {
    background-color: #cdc8c8;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px 10px;
    font-family: 'Rubik',sans-serif; 
   

}
.table{
    font-family: 'Rubik',sans-serif ;
}

.table thead tr th{
  background-color: #ff1313;
  font-weight: bold;
  font-size: 1.2rem;
  
}

.table tbody tr td {
    background-color: #cdc8c8;
    font-size: 1.2rem;
    font-weight: 400;
}

@media only screen and (max-width:700px){
    
    html{
        font-size: 14px;
    }
    
}

@media only screen and (max-width:450px){
   html{
    font-size:12px 
   }
}