*{
    font-family: "Rubik","Roboto",Arial, Helvetica, sans-serif;
}
.container{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    background-color: #1D1919;
    display: flex;
    flex-direction: column;
    flex: 1,2,2;
    align-items: center;
   

}


.picture{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
    cursor: pointer;

}
p{
    font-size: 16px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(110, 107, 107);
}
.elema{
    cursor: pointer;
    color: #da0a0a;

}
.elemb{
    cursor: pointer;
    color: #da0a0a;

}
.elema:hover{
    color:black;
    transition: 0.1s;
}
.elemb:hover{
    color:black;
    transition: 0.1s;
}
.elema:active{
    color:black;
    transition: 0.1s;
}
.elemb:active{
    color:black;
    transition: 0.1s;
}