*{
    font-family: "Rubik","Roboto",Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-color: #121212;
}
.box{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
   

}
@media screen and (max-width: 800px) {
    .box {
      flex-direction: column;
    }
    .logo{
        margin-left: 140px;
    }
  }
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image{
    height: 130px;
    width: 130px;
    border-radius: 70px;
    margin-bottom: 8px;
    margin-left: 60px;
   cursor: pointer;
   

}
.edit{
    margin-left: 60px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}
.button-container{
    margin-left: 60px;
    

   
}
.edit-icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.twodivas{
    display: inline-block;
}

.button-a,.button-b,.button-c{
    cursor: pointer;
   
    background-color: #b91b1b;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
input::placeholder,
textarea::placeholder {
 
  opacity: 1;
}

/* Ensure the text color in the input fields is black */
input,
textarea {
  color: black;
}
.button-b,.button-c{
    visibility: hidden;
}
.button-a:hover{
    
    background-color:#da0a0a;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.button-a:active{
    
    background-color:#e90e0e;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.info-section{
    margin-left: 60px;
    flex: 1;
    
}
.myprofile{
    font-size: 30px;
}
p {
    color: rgb(150, 150, 150);
    
}
input{
    background-color: #29293d; /* Dark background for inputs */
    border: 1px solid #444455; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    color: #ffffff; /* White text color */
    padding: 10px; /* Padding inside the input */
    font-size: 0.8em; /* Font size */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth border-color transition */
    margin-right: 8px;
    border-radius: 6px;
    outline: none;
}
.texting{
    margin-bottom: 4px;
    font-size: 12px;
    
}
.info{
    display: inline-block;
}
input{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    
   
}
.error-message {
    color: red;
    font-size: 0.875em; /* Slightly smaller text */
    margin-top: 5px;
}
input:focus, input:active{

    border-color: #b91b1b;
    border-width: 2px;
    border-style: solid;
    color: black;
    
}
.input-mail{
    width: 160px;
    
}
.cancel{
    position: relative;
    left: 0;
    right: 0;
}
.button-b,.button-c{
    margin-top: 60px;
    margin-right:40px ;
    width: 200px;
    border-radius: 15px;
}
.button-b:hover,.button-c:hover{
    margin-top: 60px;
    margin-right:40px ;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #da0a0a;
    border: none;
    padding: 8px;
    font-weight: bold;

}

.biography{
    width: 300px;
    height: 200px;
    


}
input::placeholder{

    color: #888899;
}
.biography::placeholder{
    position: absolute;
   top: 0;
   



}

.biography::placeholder:focus{
    position: absolute;
   top: 0;
   



}

.humicon{

    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin-left: 60px;
}
.logo{

    height: 400px;
    width: 400px;
}

.logout{
    font-size: 12px;
    padding: 8px;
    width: 60px;
    border-radius: 4px;
    background-color: #b91b1b;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
    

.deleteacc{
    font-size: 12px;
    padding: 1px;
    border-radius: 4px;
    width:60px;
    background-color: #b91b1b;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.logout:hover{
    font-size: 12px;
    padding: 8px;
    width: 60px;
    border-radius: 4px;
    background-color: #da0a0a;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.deleteacc:hover{
    font-size: 12px;
    padding: 1px;
    width: 60px;
    border-radius: 4px;
    background-color: #da0a0a;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.lastcon{
    display: flex;
    
}
.hover-text {
    position: absolute;
    top: 50%;
    right: 80%; 
    transform: translateY(-50%);
    color: rgb(167, 158, 158);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
    display: none; 
    font-size: 12px;
    margin-left: 0px; 
}
.image-container{
    position: relative;
    display: inline-block;
}
.image-container:hover .hover-text {
    display: block; }
.hastwoelem{

display: flex;
flex-direction: column;
margin-right: 15px;
}



